*.egg-info
*.pyc
.pybuild
buildd-slave-example.conf
charm/*.charm
dist
debian/debhelper-build-stamp
debian/files
debian/launchpad-buildd
debian/python3-lpbuildd
debian/tmp
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
.tox/
docs/_build/
