include LICENSE
include Makefile
include bin/buildrecipe
include bin/buildsnap
include bin/generate-translation-templates
include bin/in-target
include bin/sbuild-package
include bin/slave-prep
include bin/snap-git-proxy
include bin/test_buildd_generatetranslationtemplates
include bin/test_buildd_recipe
include buildd-genconfig
include buildd-slave.tac
include debian/changelog
include sbuildrc
include template-buildd-slave.conf
recursive-include lpbuildd/tests *.diff *.tar.gz buildd-slave-test.conf buildlog buildlog.long
