Source: launchpad-buildd
Section: admin
Priority: extra
Maintainer: Adam Conrad <adconrad@ubuntu.com>
Standards-Version: 3.9.5
Build-Depends: apt-utils,
               bzr,
               curl,
               debhelper (>= 9~),
               dh-exec,
               dh-python,
               git,
               intltool,
               python (>= 2.6.6-3~),
               python-apt,
               python-debian,
               python-fixtures,
               python-mock,
               python-netaddr,
               python-pylxd,
               python-requests,
               python-responses,
               python-setuptools,
               python-six,
               python-systemfixtures,
               python-testtools,
               python-twisted,
               python-txfixtures,
# We don't use the bits of pylxd that require this at run-time, but at
# build-time pybuild fails if it's not available.
               python-ws4py,
               python-zope.interface,
Vcs-Git: https://git.launchpad.net/launchpad-buildd
Vcs-Browser: https://git.launchpad.net/launchpad-buildd

Package: launchpad-buildd
Section: misc
Architecture: all
Depends: adduser,
         apt-transport-https,
         bzip2,
         debootstrap,
         dmsetup,
         dpkg-dev,
         file,
         lsb-release,
         lsof,
         lxd,
         ntpdate,
         pristine-tar,
         python,
         python-apt,
         python-lpbuildd (=${source:Version}),
         sbuild,
         schroot,
         sudo,
         ${misc:Depends},
Description: Launchpad buildd slave
 This is the launchpad buildd slave package. It contains everything needed to
 get a launchpad buildd going apart from the database manipulation required to
 tell launchpad about the slave instance. If you are creating more than one
 slave instance on the same computer, be sure to give them independent configs
 and independent filecaches etc.

Package: python-lpbuildd
Section: python
Architecture: all
Depends: apt-utils,
         procps,
         python-apt,
         python-netaddr,
         python-pylxd,
# Work around missing dependency in python-pbr.
         python-setuptools,
         ${misc:Depends},
         ${python:Depends},
Breaks: launchpad-buildd (<< 88)
Replaces: launchpad-buildd (<< 88)
Description: Python libraries for a Launchpad buildd slave
 This contains the Python libraries that control the Launchpad buildd slave.
