Source: launchpad-buildd
Section: admin
Priority: extra
Maintainer: Adam Conrad <adconrad@ubuntu.com>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 5), python

Package: launchpad-buildd
Section: misc
Architecture: all
Depends: python-lpbuildd (=${source:Version}), python, debootstrap, dpkg-dev,
 linux32, file, bzip2, sudo, ntpdate, adduser, apt-transport-https, lsb-release,
 apache2, pristine-tar, python-apt, sbuild, ${misc:Depends}
Recommends: qemu-user-static
Description: Launchpad buildd slave
 This is the launchpad buildd slave package. It contains everything needed to
 get a launchpad buildd going apart from the database manipulation required to
 tell launchpad about the slave instance. If you are creating more than one
 slave instance on the same computer, be sure to give them independent configs
 and independent filecaches etc.

Package: python-lpbuildd
Section: python
Architecture: all
Depends: python, python-twisted-core, python-twisted-web, python-zope.interface, python-apt, python-debian, apt-utils, ${misc:Depends}
Breaks: launchpad-buildd (<< 88)
Replaces: launchpad-buildd (<< 88)
Description: Python libraries for a Launchpad buildd slave
 This contains the Python libraries that control the Launchpad buildd slave.
