#!/usr/bin/make -f
#
# Copyright 2009-2015 Canonical Ltd.  
# 
# This software is licensed under the GNU Affero General Public License version
# 3 (see the file LICENSE).

%:
	dh $@

override_dh_auto_build:
	python buildd-genconfig --template=template-buildd-slave.conf \
	--arch=i386 --port=8221 --name=default --host=buildd.buildd \
		> buildd-slave-example.conf

override_dh_auto_test:
	dh_auto_test
	find -name \*.pyc -print0 | xargs -0r rm -f

override_dh_auto_clean:
	find -name \*.pyc -print0 | xargs -0r rm -f

override_dh_builddeb:
	dh_builddeb -- -Zgzip
