#!/usr/bin/make -f
#
# Copyright 2009-2020 Canonical Ltd.  
# 
# This software is licensed under the GNU Affero General Public License version
# 3 (see the file LICENSE).

export PYBUILD_NAME := lpbuildd
export LIBDIR := $(shell python3 -c 'import distutils.sysconfig; print(distutils.sysconfig.get_python_lib())')

%:
	dh $@ --with=python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	python3 buildd-genconfig --template=template-buildd-slave.conf \
	--arch=i386 --port=8221 --name=default --host=buildd.buildd \
		> buildd-slave-example.conf
